# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env/

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db