name: Lint and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ."[dev,test]"
    - name: Analysing the code with pylint
      run: |
        mypy sgpt
        ruff sgpt tests scripts
        black sgpt tests --check
        isort sgpt tests scripts --check-only

    - name: Analysing the code with black
      run: black ./sgpt ./tests --check --target-version py310
    - name: Run unittests
      run: |
        export OPENAI_API_KEY=test_api_key
        pytest tests/unittests.py
